.experience {
	padding-top: 120px;
	background-color: $second-color;
	&__wrapper {
		padding: 60px 65px 0 65px;
		display: grid;
		grid-template-columns: repeat(2, 425px);
		column-gap: 136px;
	}
	&__elem {
		
		&-title {
			position: relative;
			z-index: 1;
			padding-left: 35px;
			@include before_circle;
			&:before {
				width: 15px;
				height: 15px;
				left: -7px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		ul {
			list-style-type: none;
			padding-left: 0;
			li {
				position: relative;
				&:after {
					content: '';
					width: 1px;
					height: calc(100% + 16px);
					position: absolute;
					top: -16px;
					left: 0;
					background-color: #ffffff;
				}
			}
		}

		&-item {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				height: 1px;
				width: 42px;
				top: 68px;
				background-color: #ffffff;
			}
			&-head {
				position: relative;
				padding: 45px 0 0 100px;
			}
			&-body {
				padding-left: 43px;
				margin-top: 12px;
				font-size: 12px;
				line-height: 18px;
				color: #ffffff;
			}
			&-icon {
				position: absolute;
				top: 57px;
				left: 44px;
				z-index: 1;
				@include before_circle;
				img {
					position: absolute;
					top: 3px;
					left: 11px;
				}
			}
		}
	}
}