@media (max-width: 1439px) {
    .container {
        padding: 0 80px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 530px;
            column-gap: 50px;
        }
    }
    .experience {
        &__wrapper {
            padding: 60px 10px;
            column-gap: 100px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        padding: 0;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 515px;
            column-gap: 50px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 180px;
                column-gap: 15px;
            }
        }
        
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background: url('../img/main_bg_media.jpg') no-repeat 60%/cover;
    }
    .title {
        &_fz57 {
            font-size: 37px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
        }
    }
    .about {
        padding-top: 100px;
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(90px,auto)) / 380px;
            grid-auto-rows: minmax(90px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
        &__subtitle {
            font-size: 30px;
        }
    }
    .experience {
        padding-top: 100px;
        .title__section-subtitle {
            margin-top: 20px;
            font-size: 30px;
            line-height: 25px;
        }
        &__wrapper {
            padding: 60px 0;
            column-gap: 70px;
            grid-template-columns: repeat(2,325px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 320px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
        &__photo {
            display: none;
        }
    }
    .experience {
        padding-top: 40px;
        &__wrapper {
            padding: 25px 10px;
            row-gap: 40px;
            grid-template-columns: 520px;
        }
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz57 {
            font-size: 26px;
        }
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
        &__social {
            a {
                font-size: 20px;
            }
        }
    }
    .promo {
        background: url('../img/main_bg_media.jpg') no-repeat 56%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: repeat(2, auto) / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                justify-content: center;
                grid-template-columns: 40px 240px;
            }
        }
        &__subtitle {
            font-size: 24px;
        }
    }
    .experience {
        padding-top: 40px;
        &__wrapper {
            padding: 25px 10px;
            row-gap: 40px;
            grid-template-columns: 300px;
        }
    }
}