@media (max-width: 1439px) {
	.container {
		padding: 0 80px;
	}
	.about {
		&__wrapper {
			grid-template-columns: 400px 530px;
			column-gap: 50px;
		}
	}
	.experience {
		&__wrapper {
			padding: 60px 10px 0 10px;
			column-gap: 100px;
		}
	}
	.skills {
		&__wrapper {
			grid-template-columns: repeat(4,minmax(230px,auto));
			padding: 60px 0 0 0;
		}
		&__item {
			padding: 20px 20px;
		}
		&__scale {
			justify-content: center;
			grid-template-columns: repeat(2,350px);
			grid-template-rows: repeat(3,70px);
			gap: 30px 120px;
		}
	}
	.portfolio {
		&__grid {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: center;
			gap: 20px;
			&-mac, &-plans {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
	.contacts {
		&__wrapper {
			padding: 0;
			grid-template-columns: 400px 540px;
		}
		&__form {
			grid-template: 45px 190px 45px/repeat(2,250px);
		}
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
		padding: 0;
	}
	.sidepanel {
		display: none;
	}
	.about {
		&__wrapper {
			grid-template-columns: 400px 515px;
			column-gap: 50px;
		}
		&__skills {
			grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
			column-gap: 20px;
			&-item {
				grid-template-columns: 40px 180px;
				column-gap: 15px;
			}
		}
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 380px 540px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.promo {
		background: url('../img/main_bg_media.jpg') no-repeat 60%/cover;
	}
	.title {
		&_fz57 {
			font-size: 37px;
		}
	}
	.promo {
		&__title {
			line-height: 39px;
		}
	}
	.about {
		padding-top: 100px;
		&__wrapper {
			grid-template-columns: 300px 380px;
			column-gap: 40px;
		}
		&__skills {
			grid-template: repeat(2,minmax(90px,auto)) / 380px;
			grid-auto-rows: minmax(90px,auto);
			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
		&__subtitle {
			font-size: 30px;
		}
	}
	.experience {
		padding-top: 100px;
		.title__section-subtitle {
			margin-top: 20px;
			font-size: 30px;
			line-height: 25px;
		}
		&__wrapper {
			padding: 60px 0;
			column-gap: 70px;
			grid-template-columns: repeat(2,325px);
		}
	}
	.skills {
		&__wrapper {
			grid-template-columns: repeat(3,minmax(230px,auto));
			grid-template-rows: repeat(3,minmax(270px,auto));
		}
		&__scale {
			grid-template-columns: repeat(2,300px);
			gap: 30px 70px;
			&-item {
				&-block {
					width: 100%;
				}
			}
		}
	}
	.price {
		&__wrapper {
			padding: 60px 0 0 0;
			grid-template-columns: repeat(auto-fit, 350px);
		}
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 300px 400px;
		}
		&__form {
			grid-template: 45px 45px 190px 45px/repeat(2,180px);
			justify-content: space-between;
			column-gap: 20px;
		}
		&__input {
			grid-column: 1/3;
		}
		&__triggers {
			grid-template-columns: 180px;
			column-gap: 0;
		}
		&__btn {
			padding: 12px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.about {
		padding-top: 40px;
		&__wrapper {
			grid-template: 320px auto auto / 1fr;
		}
		&__skills {
			grid-template-columns: repeat(2, 260px);
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
		/* &__photo {
			display: none;
		} */
	}
	.experience {
		padding-top: 40px;
		&__wrapper {
			padding: 25px 10px 0 10px;
			row-gap: 40px;
			grid-template-columns: 520px;
		}
	}
	.skills {
		padding-top: 40px;
		.title__section-subtitle {
			margin-top: 20px;
			font-size: 24px;
			line-height: 25px;
		}
		&__wrapper {
			grid-template-columns: repeat(2,minmax(230px,auto));
			grid-template-rows: repeat(4,minmax(270px,auto));
			padding: 30px 0 0 0;
		}
		&__scale {
			padding-top: 40px;
			grid-template-columns: repeat(1,300px);
			grid-template-rows: repeat(6,70px);
		}
	}
	.portfolio {
		padding-top: 40px;
		.title__section-subtitle {
			margin-top: 20px;
			font-size: 24px;
			line-height: 36px;
		}
		&__grid {
			margin-top: 40px;
		}
	}
	.price {
		padding-top: 40px;
		&__wrapper {
			padding: 25px 0 0 0;
			justify-content: center;
		}
	}
	.contacts {
		padding: 40px 0 50px 0;
		&__subtitle {
			font-size: 24px;
		}
		&__photo {
			display: none;
		}
		&__wrapper {
			justify-content: center;
			grid-template-columns: repeat(auto-fit, 450px);
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.title {
		&_fz57 {
			font-size: 26px;
		}
	}
	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}
		&__social {
			a {
				font-size: 20px;
			}
		}
	}
	.promo {
		background: url('../img/main_bg_media.jpg') no-repeat 56%/cover;
		&__btns {
			margin-top: 30px;
		}
	}
	.about {
		&__wrapper {
			grid-template: repeat(2, auto) / 1fr;
		}
		&__skills {
			grid-template-columns: 1fr;
			&-item {
				justify-content: center;
				grid-template-columns: 40px 240px;
			}
		}
		&__subtitle {
			font-size: 24px;
		}
	}
	.experience {
		padding-top: 40px;
		&__wrapper {
			padding: 40px 8px 0 12px;
			row-gap: 40px;
			grid-template-columns: 300px;
			justify-content: center;
		}
		&__elem {
			li {
				&:nth-child(1) {
					padding-top: 35px;
				}
			}
			&-item {
				&-icon {
					top: 20px;
				}
				&-head {
					padding-top: 10px;
				}
				&:before {
					top: 30px;
				}
			}
		}
	}
	.skills {
		&__wrapper {
			justify-content: center;
			grid-template-columns: repeat(1, 270px);
			grid-template-rows: repeat(7,minmax(270px, auto));
		}
	}
	.price {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 300px);
		}
	}
	.contacts {
		&__wrapper {
			justify-content: center;
			grid-template-columns: 300px;
		}
		&__form {
			justify-content: center;
			grid-template: 45px 45px 190px 45px 45px / 300px;
		}
		&__input, &__textarea {
			grid-column: 1 / 2;
		}
		&__policy {
			margin: 0 auto; 
			width: 180px;
			grid-row: 4 / 5;
		}
		&__triggers {
			grid-template-columns: 220px;
			justify-content: center;
		}
	}
}